{
  "test" : {
    "SERVER_URL" : "http://localhost:3000",
    "API_URL" : "http://localhost:3001/api/v2",
    "MONGO_URI" : "mongodb://localhost:27017/ExampleDBTest",
    "PORT" : 3000,
    "COOKIE_DOMAIN": "example.com",
    "SECRET" : "example@2019",
    "FACEBOOK_ID" : "",
    "FACEBOOK_SECRET" : "",
    "GOOGLE_ID" : "",
    "GOOGLE_SECRET" : "",
    "TWITTER_KEY" : "",
    "TWITTER_SECRET" : "",
    "EMAIL_FROM" : "username@example.com",
    "EMAIL_SERVER" : "smtp.example.com",
    "EMAIL_PORT" : 465,
    "EMAIL_USERNAME" : "username@example.com",
    "EMAIL_PASSWORD" : ""
  },
  "development" : {
    "SERVER_URL" : "http://localhost:3000",
    "API_URL" : "http://localhost:3001/api/v2",
    "MONGO_URI" : "mongodb://localhost:27017/ExampleDB",
    "PORT" : 3000,
    "COOKIE_DOMAIN": "example.com",
    "SECRET" : "example@2019",
    "FACEBOOK_ID" : "",
    "FACEBOOK_SECRET" : "",
    "GOOGLE_ID" : "",
    "GOOGLE_SECRET" : "",
    "TWITTER_KEY" : "",
    "TWITTER_SECRET" : "",
    "EMAIL_FROM" : "username@example.com",
    "EMAIL_SERVER" : "smtp.example.com",
    "EMAIL_PORT" : 465,
    "EMAIL_USERNAME" : "username@example.com",
    "EMAIL_PASSWORD" : ""
  },
  "production" : {
    "SERVER_URL" : "https://example.com",
    "API_URL" : "https://api.example.com/api/v2",
    "MONGO_URI" : "mongodb://localhost:27017/ExampleDB",
    "PORT" : 3000,
    "COOKIE_DOMAIN": "example.com",
    "SECRET" : "example@2019",
    "FACEBOOK_ID" : "",
    "FACEBOOK_SECRET" : "",
    "GOOGLE_ID" : "",
    "GOOGLE_SECRET" : "",
    "TWITTER_KEY" : "",
    "TWITTER_SECRET" : "",
    "EMAIL_FROM" : "username@example.com",
    "EMAIL_SERVER" : "smtp.example.com",
    "EMAIL_PORT" : 465,
    "EMAIL_USERNAME" : "username@example.com",
    "EMAIL_PASSWORD" : ""
  }
}